@{
    ViewBag.Title = "New";
}

<h2>Adaugare articol</h2>
<br />

<form method="post" action="/Products/New">

    <label>Nume produs</label>
    <input type="text" name="Name" />
    <br />
    <br />

    <label>Descriere produs</label>
    <textarea name="Description"></textarea>
    <br />
    <br />
    <label>Pret</label>
    <textarea name="Price"></textarea>
    <br />
    <br />

    <label>Imagine</label>
    <textarea name="Picture"></textarea>
    <br />
    <br />

    @*
    <input type="hidden" name="Date" value="@DateTime.Now" />
    <br />
    *@

    <label>Selectati categoria</label>

    @*
    Proprietatea name primeste valoarea CategoryId, si anume id-ul categoriei, fiind atributul care
    se paseaza catre Controller prin post
    Proprietatea value are id-ul categoriei si valoarea care se afiseaza in dropdown (numele categoriei)
    *@

    <select name="CategoryId">

        @foreach (var item in ViewBag.Categories)
        {
            <option value="@item.Id">@item.CategoryName</option>
        }

    </select>
    <br />
    <button class="btn btn-success" type="submit">Adauga articol</button>

</form>
